<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Page not found!</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="container">
			<h1>Uh-oh!</h1>
			You reached a dead end pls don't come back.
			<p>Click <a href="/">here</a> to return to the home page.</p>
		</div>

	</body>
	<footer>
		<ul>
			<li>Page should have logo and some nice background</li>
			<li>Page should easily redirect to homepage</li>
			<li>No further functionality should be implemented</li>
		</ul>
	</footer>
</html>
