<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Contact page</title>
		<link rel="stylesheet" type="text/css" href="public/css/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

	</head>
	<header>
		<!-- Navbar: I know there is a way to grab HTML and 'yield' it on a default layout, but I've yet to learn a way to do this with JS -->
		<nav id="navbar">
			<ul>
				<li><a class="button" href="/">Home</a></li>
				<li><a class="button" href="/about">About</a></li>
				<li><a class="button" href="/contact">Contact</a></li>
			</ul>
		</nav>
	</header>
	<body>
		<!-- Heading -->
		<div class="container">
			<h1>Contact Page</h1>

			{{msg}}
			<form class="contact-form" action="sendEmail" method="post">
				<div class="msg"></div>
				<label for="name">Name: </label>
				<input type="text" name="name" id="name" placeholder="John Doe">
				<br>
				<label for="email">Email: </label>
				<input type="email" name="email" id="email" placeholder="user@example.com">
				<br>
				<label for="message">Concerns:</label>
				<textarea name="message" id="message" rows="8" cols="80"></textarea>
				<br>
				<input type="submit" name="submit" value="Submit">

			</form>
		</div>
		<script src="public/main.js"></script>
	</body>
	<footer>
		<ul>
			<li>This page will mostly be where a user can submit an issue or raise questions about the functionality of the application.</li>
			<li>It should look pretty standard for bootstrap forms, and simply have a navigation bar at the top.</li>
			<li>Submissions from this page should be stored in a database, and possibly emailed to me at some location.</li>
			<li>Possible inclusion of the GitHub link to this project.</li>
		</ul>
	</footer>
</html>
